#app {
    color: var(--color-normal-contrast-weakest);
    margin: 15px;
    width: 90%;
 
}


#mainDiv {
    height:100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    padding: 2px;
 
}

#testResults {
    height:fit-content ;
    color: var(--color-normal-contrast-weakest);
    margin: 15px;
    width: 90%;
}


#dropUTest, #availableTestsList{
    color: var(--color-normal-contrast-weakest);
    margin: 15px;
    width: 90%;
}

#firstButton {
    color: var(--color-normal-contrast-weakest);
    margin: 15px;
    width: 90%;

}

#textArea, #codeArea{
    color: var(--color-normal-contrast-weakest);
    margin: 15px;
    width: 90%;
    height: 100px;
}

#testCodeButton {
    color: var(--color-normal-contrast-weakest);
    margin: 15px;
    width: 90%;
}
#scrollableResults {
    margin: 15px;
    background-color: #29012a;
    width: 90%;
    height: fit-content;
    overflow-x: hidden;
    /*overflow-y: auto;*/
    text-align: left;
    padding: 10px;
}
